@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  /* 한글 폰트 */
  font-family: "SUIT-Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

:root {
  /* 변수 정의 */
  --background: #efefef;
  --foreground: #171717;
}

/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "SUIT-Regular", Arial, Helvetica, sans-serif; /* 기본 폰트 */
}
